.mainContainer {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

body {
    background-image: linear-gradient(#2d7fb1, white) !important;
}

.navbar-nav {
    padding-right: 40px;
}

.downloadCTA {
    padding-right: 5rem;
}